*{
  color:#000;
}

.header {
  font-size: 14px;
  font-weight: bold;
  margin-left: 800px;
 }

 .container00{
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
 }

 logoPc{
  width:240px;
 }