.container00 {
  &.container01{
    background-image:url(../../images/senhora-de-pele-escura-mantem-os-labios-arredondados-quer-beijar-bichinho-adoravel-brinca-com-cachorrinho.jpg) ;
  }
}
 
.form-cadastro{
  margin-top: -700px;
  margin-left: 900px;
  border-radius: 10px;
  height: 500px;
  width: 500px;
  padding: auto;
  
}
#invalidCheck{
  background-color: black;
}
.inputCadastro{
  border: solid 2px;
  background-color: khaki;
  border-radius: 8px;
  height: 20px;
}

label{
  padding-left: 10px;
  
}

h3{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.input-group-text {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background-color:black;
  width: 85px;
  border-radius: 16px;
  border-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.form-control{
  border-color:black;
  background-color: #E5B33D;
}
form{
  width: 80vh;
  border: solid 2px;
  border-radius: 16px;
  margin-left: 100vh;
  padding: 30px 50px 80px 40px;

}